# Пример настройки службы Thoth
# /etc/systemd/system

[Unit]
Description=Thoth service
After=network.target

[Service]
User=asterisk
Group=asterisk
WorkingDirectory=/opt/thoth
Environment="PATH=/opt/thoth/.venv/bin"
ExecStart=/opt/thoth/.venv/bin/gunicorn --workers 3 --bind 0.0.0.0:8000 -m 007 wsgi:application

[Install]
WantedBy=multi-user.target