# Пример настройки службы Thoth
# /etc/systemd/system

[Unit]
Description=thoth daemon
Requires=thoth.socket
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/opt/thoth
Environment="PATH=/opt/thoth/.venv/bin"
ExecStart=/opt/thoth/.venv/bin/gunicorn --access-logfile - --workers 3 --bind unix:/run/thoth.sock config.wsgi:application

[Install]
WantedBy=multi-user.target
