{% extends "base.html" %}

{% block title %}
  THOTH Home Page
{% endblock title %}
{% block content %}
  <div class="header">
    <h1>Welcome to THOTH</h1>
    <p>Your ultimate tool for Bitrix24 CRM integration.</p>
  </div>
  <div class="content">
    <p>
      This is the home page for the THOTH project. Here you can find links to our GitHub repository and local API documentation.
    </p>
    <p>Now Supported:</p>
    <ul>
      <li>
        <a href="https://developers.facebook.com/docs/whatsapp" target="_blank">WhatsApp Business API (WABA)</a>
      </li>
      <li>
        <a href="https://developer.olxgroup.com/register?market=olx"
           target="_blank">OLX</a>
      </li>
    </ul>
  </div>
  <div class="links">
    <h2>Links</h2>
    <ul>
      <li>
        <a href="https://thoth.kz" target="_blank">THOTH Website</a>
      </li>
      <li>
        <a href="https://github.com/vaestvita/thoth" target="_blank">GitHub Repository</a>
      </li>
      <li>
        <a href="/api/docs/" target="_blank">Local API Documentation</a>
      </li>
    </ul>
  </div>
{% endblock content %}
