{% extends "base.html" %}

{% block title %}
  OLX Accounts
{% endblock title %}
{% block content %}
  <div class="container">
    <h3>Ваши OLX аккаунты</h3>
    {% if olx_accounts %}
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>OLX App</th>
            <th>OLX User ID</th>
            <th>Email</th>
            <th>Line ID</th>
            <th>Портал</th>
          </tr>
        </thead>
        <tbody>
          {% for account in olx_accounts %}
            <tr>
              <td>{{ account.olxapp }}</td>
              <td>{{ account.olx_id }}</td>
              <td>{{ account.email }}</td>
              <td>
                {% if account.line %}
                <span style="color: green;">{{ account.line.line_id }} - {{ account.line.app_instance.portal.domain }}</span>
                {% else %}
                  No Line
                {% endif %}
              </td>
              <td>
                <form method="POST" action="{% url 'olx-accounts' %}">
                  {% csrf_token %}
                  <div class="form-group d-flex align-items-center">
                    <select id="app_instance" name="app_instance" class="form-control mr-2">
                      {% if account.app_instance %}
                        <option value="{{ account.app_instance.id }}" selected>{{ account.app_instance }}</option>
                      {% else %}
                        <option value="" disabled selected>Портал Битрикс24</option>
                      {% endif %}
                      {% for instance in app_instances %}<option value="{{ instance.id }}">{{ instance.portal }}</option>{% endfor %}
                    </select>
                    <input type="hidden" name="olx_user_id" value="{{ account.id }}" />
                    <button type="submit" name="action" value="link" class="btn btn-secondary">Подключить</button>
                  </div>
                </form>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No OLX accounts connected yet.</p>
    {% endif %}
    <!-- Форма для добавления нового OLX аккаунта -->
    <h3>Подключить OLX аккаунт (<a href="/faq/" target="_blank">инструкция</a>)</h3>
    <form method="POST" action="{% url 'olx-accounts' %}">
      {% csrf_token %}
      <div style="width:30%;" class="form-group d-flex align-items-center">
        <select id="olx_app" name="olx_app" class="form-control mr-2">
          {% for app in olx_apps %}<option value="{{ app.id }}">{{ app }}</option>{% endfor %}
        </select>
        <button type="submit" name="action" value="connect" class="btn btn-primary">Подключить</button>
      </div>
    </form>
  </div>
{% endblock content %}
