{% extends "base.html" %}

{% block content %}
  <div class="container">
    <h3>Ваши Bitrix24</h3>
    {% if user_portals %}
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Портал</th>
            <th>Приложение</th>
          </tr>
        </thead>
        <tbody>
          {% for portal in user_portals %}
            <tr>
              <td>{{ portal.domain }}</td>
              <td>
                {% for instance in portal.installations.all %}
                  {{ instance.app.name }}
                  {% if not forloop.last %},{% endif %}
                {% empty %}
                  No App Instances
                {% endfor %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No Bitrix24 portals found.</p>
    {% endif %}
    <h4>Привязка портала (<a href="/faq/" target="_blank">инструкция</a>)</h4>
    <form method="POST" action="{% url 'portals' %}">
      {% csrf_token %}
      <div style="width: 40%;" class="form-group d-flex align-items-center">
        {{ verification_form.confirmation_code }}
       <button type="submit" name="confirm" class="btn btn-primary">Подтвердить</button>
        </div>
    </form>
    <h4>Получение кода</h4>
    <form method="POST" action="{% url 'portals' %}">
      {% csrf_token %}
      <div style="width: 40%;" class="form-group d-flex align-items-center">
       {{ portal_form.portal_address }}
      <button type="submit" name="send_code" class="btn btn-secondary">Отправить</button>
      </div>
    </form>
  </div>
{% endblock %}
